@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* My CSS JS GAME */

/* Font families for the project */
* {
    font-family: 'Lato',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
}

/* Body of the page */
html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 400px;
    opacity: 0.8;
background-color: #D3DCE3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23736e60'/%3E%3Cstop offset='1' stop-color='%23bcb6a6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23373b36'/%3E%3Cstop offset='0.09' stop-color='%23454944'/%3E%3Cstop offset='0.18' stop-color='%234e524d'/%3E%3Cstop offset='0.31' stop-color='%23555954'/%3E%3Cstop offset='0.44' stop-color='%235b5e5a'/%3E%3Cstop offset='0.59' stop-color='%235f635e'/%3E%3Cstop offset='0.75' stop-color='%23626661'/%3E%3Cstop offset='1' stop-color='%23646863'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top left;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Player Part */

.playerZone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(80, 73, 73, 0.35);
    width: 50%;
    height: 100%;
    
}

.playerZone.active {
    background-color: #e6e3e3;
}

.playerZone.active .playerName {
    font-weight: 300px;
}

.playerZone.active .playerName::after {
    content: '•';
    position: absolute;
    margin-left: 10px;
    color: #850514;
    animation-duration: 0.5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: opacity 1s;
}

.playerTotalScore {
    margin: 0;
    margin-top: 10vh;
    padding: 0;
    font-size: 6vw;
    font-weight: 100;
    color: #850514;
    margin-bottom: auto;
}

.playerTotalScore::after {
    content: '/100';
    font-size: 3vw;
    color: #000000;
}

/* Player Box */
.playerActuelScoreBox {
    display: block;
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 20vh;
    padding: 1.5vh;
    min-width: 15%;
    background-color: #850514;
    text-align: center;
    /* vertical-align: middle; */
    border-radius: 8px;
    opacity: 0.9;
}

.playerActuelScoreTitle {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    font-weight: 300px;
        color: #fff;
    text-transform: uppercase;
}

.playerActuelScore {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    font-weight: 300px;
    color: #fff;
}

/* Winning part */
.confetti {
    background-repeat: no-repeat;
    background-position: top -10px center;
    background-image: url("data:image/svg+xml,%3Csvg width='600' height='90' viewBox='0 0 600 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='-10' width='6' height='10'/%3E%3Crect x='84' y='-10' width='6' height='10'/%3E%3Crect x='126' y='-13' width='5' height='13'/%3E%3Crect x='168' y='-13' width='5' height='13'/%3E%3Crect x='210' y='-10' width='6' height='10'/%3E%3Crect x='252' y='-13' width='5' height='13'/%3E%3Crect x='294' y='-10' width='6' height='10'/%3E%3Crect x='336' y='-13' width='5' height='13'/%3E%3Crect x='378' y='-13' width='5' height='13'/%3E%3Crect x='420' y='-10' width='6' height='10'/%3E%3Crect x='462' y='-10' width='6' height='10'/%3E%3Crect x='504' y='-13' width='5' height='13'/%3E%3Crect x='546' y='-10' width='6' height='10'/%3E%3Cstyle type='text/css'%3E rect %7B opacity: 0; %7D rect:nth-child(1) %7B transform-origin: 45px 5px; transform: rotate(-145deg); animation: blast 700ms infinite ease-out; animation-delay: 88ms; animation-duration: 631ms; %7D rect:nth-child(2) %7B transform-origin: 87px 5px; transform: rotate(164deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 442ms; %7D rect:nth-child(3) %7B transform-origin: 128px 6px; transform: rotate(4deg); animation: blast 700ms infinite ease-out; animation-delay: 92ms; animation-duration: 662ms; %7D rect:nth-child(4) %7B transform-origin: 170px 6px; transform: rotate(-175deg); animation: blast 700ms infinite ease-out; animation-delay: 17ms; animation-duration: 593ms; %7D rect:nth-child(5) %7B transform-origin: 213px 5px; transform: rotate(-97deg); animation: blast 700ms infinite ease-out; animation-delay: 122ms; animation-duration: 476ms; %7D rect:nth-child(6) %7B transform-origin: 255px 6px; transform: rotate(57deg); animation: blast 700ms infinite ease-out; animation-delay: 271ms; animation-duration: 381ms; %7D rect:nth-child(7) %7B transform-origin: 297px 5px; transform: rotate(-46deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 619ms; %7D rect:nth-child(8) %7B transform-origin: 338px 6px; transform: rotate(-65deg); animation: blast 700ms infinite ease-out; animation-delay: 85ms; animation-duration: 668ms; %7D rect:nth-child(9) %7B transform-origin: 380px 6px; transform: rotate(13deg); animation: blast 700ms infinite ease-out; animation-delay: 128ms; animation-duration: 377ms; %7D rect:nth-child(10) %7B transform-origin: 423px 5px; transform: rotate(176deg); animation: blast 700ms infinite ease-out; animation-delay: 311ms; animation-duration: 508ms; %7D rect:nth-child(11) %7B transform-origin: 465px 5px; transform: rotate(108deg); animation: blast 700ms infinite ease-out; animation-delay: 108ms; animation-duration: 595ms; %7D rect:nth-child(12) %7B transform-origin: 506px 6px; transform: rotate(62deg); animation: blast 700ms infinite ease-out; animation-delay: 105ms; animation-duration: 375ms; %7D rect:nth-child(13) %7B transform-origin: 549px 5px; transform: rotate(16deg); animation: blast 700ms infinite ease-out; animation-delay: 149ms; animation-duration: 491ms; %7D rect:nth-child(odd) %7B fill: %2365BB5C; %7D rect:nth-child(even) %7B z-index: 1; fill: %2333AAFF; %7D rect:nth-child(4n) %7B animation-duration: 1400ms; fill: %23F23B14; %7D rect:nth-child(3n) %7B animation-duration: 1750ms; animation-delay: 700ms; %7D rect:nth-child(4n-7) %7B fill: %232A2F6A; %7D rect:nth-child(6n) %7B fill: %23FBBA23; %7D @keyframes blast %7B from %7B opacity: 0; %7D 20%25 %7B opacity: 1; %7D to %7B transform: translateY(90px); %7D %7D %3C/style%3E%3C/svg%3E%0A");
    background-size: cover;
}

.playerWinner {
    margin: 0;
    margin-bottom: 20vh;
    padding: 0;
    font-size: 2vw;
    font-weight: bold;
    color: #AE0115;
    text-transform: uppercase;
}

.playerWinner::before {
    content: '\f59c';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-right: 0.5rem;
}

.blink {
    animation-duration: 0.6s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: opacity 1s;
    display: none;
}

/* New Game & Hold Part */
.newgame {
    top: 5vw;
    font-size: 3.5vw;
    color: #111;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    background-color: #ffffff99;
    padding: 0.3vw;
    border-radius: 10px;
}

.newGame::before {
    font-weight: 900;
    margin-right: 0.5rem;
    color: #AE0115;
    opacity: 0.8;
    content: '\f522';
}

.hold,
.newGame,
.rules,
.hold:focus,
.newGame:focus,
.rules:focus,
.hold:active,
.newGame:active,
.rules:active
.hold:visited,
.newGame:visited,
.rules:visited 
{
    color: #111;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    background-color: #ffffff99;
    padding: 0.5vw;
    border-radius: 8px;
}

.newGame {
    top: 4.5vh;
    font-size: 1.5vw;
    cursor: pointer;
}

.hold {
    top: 22vh;
    font-size: 2vw;
    cursor: pointer;
}

.rules
{
    top: 13vh;
    font-size: 2vw;
    cursor: pointer;
}

.hold.disabled {
pointer-events:none;
cursor: pointer;
}

.hold:hover,
.newGame:hover,
.rules:hover {
    color: #777;
    background-color: #fff
}

.hold::before,
.rules::before,
.newGame::before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-right: 0.5rem;
    color: #AE0115;
    opacity: 0.8;
    content: '\f055';
}

/* Roll Dice*/
.dice {
    position: absolute;
    top: calc(50vh - (12vw / 2));
    left: calc(50vw - (12vw / 2));
    width: 13vw;
    height: 12vw;
    perspective: 30vw;
    cursor: pointer;
    
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    background-size: contain;
    background-repeat: no-repeat;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    text-transform: lowercase;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 50%;
    margin-left: -67px;
    opacity: 0.8;
}

.tooltiptext::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.dice:hover .tooltiptext {
    visibility: visible;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-6vw);
    transition: transform 0.25s;
    display: flex;
}

.cube.active1 {
    transform: translateZ(-6vw) rotateY(0deg);
}

.cube.active2 {
    transform: translateZ(-6vw) rotateX(-90deg);
}

.cube.active3 {
    transform: translateZ(-6vw) rotateY(90deg);
}

.cube.active4 {
    transform: translateZ(-6vw) rotateY(-90deg);
}

.cube.active5 {
    transform: translateZ(-6vw) rotateX(90deg);
}

.cube.active6 {
    transform: translateZ(-6vw) rotateY(-180deg);
}

.face {
    position: absolute;
    width: 12vw;
    height: 12vw;
    opacity: 0.90;
}

.face.one {
    background: url(image/DiceNumber1.png) no-repeat center;
    background-size: 12vw 12vw;
}

.face.two {
    background: url(image/DiceNumber2.png) no-repeat center;
    background-size: 12vw 12vw;
}

.face.three {
    background: url(image/DiceNumber3.png) no-repeat center;
    background-size: 12vw 12vw;
}

.face.four {
    background: url(image/DiceNumber4.png) no-repeat center;
    background-size: 12vw 12vw;
}

.face.five {
    background: url(image/DiceNumber5.png) no-repeat center;
    background-size: 12vw 12vw;
}


.face.six {
    background: url(image/DiceNumber6.png) no-repeat center;
    background-size: 12vw 12vw;
}

/* Overlay */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur 10px;
    background-color: rgba(43, 41, 41, 0.5);
    z-index: 1;
}

/* Modal */
.modal {
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
    width: 60vw;
    height: 40vw;
    z-index: 2;
    top: 50%;
    left: 50%;
    bottom: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    background-color: rgb(174, 26, 26);
    border-radius: 10px;
}


.closeModal {
    font-size: 3.5vw;
    font-size: 1.5vw;
    margin: 15px;
    color: #ffffff;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff99;
    padding: 1vw;
    border-radius: 8px;
    cursor: pointer;
    border: none;

}

/* Animation */
@keyframes blink {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */
/* Phone version */
@media screen and (max-width: 743px) {
    .container {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .playerZone {
        width: 100%;
        height: 50%;
    }


    /* Player 1 */

    #playerName1 {
        font-size: 5vw;
        margin-top: 5vh;

    }
    #scorePlayer1 {
        font-size: 9vw;
        margin-top: 5vh;
    }
    #currentScoreBox1 {
        margin-bottom: 10vh;
        margin-top: 10vh;
    }
    #currentScore1 {
        font-size: 5vw;
    }


    /* Player 2 */
    /* #playerZone2 {
        margin-top: 1vh;
    } */
    
    #playerName2 {
        font-size: 5vw;
        margin-top: 5vh;

    }
    #scorePlayer2 {
        font-size: 9vw;
        margin-top: 1vh;
    }
    #currentScoreBox2 {
        margin-top: 10vh;
    }
    #currentScore2 {
        font-size: 5vw;
    }



    /* Player */
    .playerTotalScore {
        margin: 0;
        font-size: 12vw;
    }

    .playerName {
        font-size: 5vw;
        margin: 15;
    }

    .playerZone:nth-child(odd) .playerName {
        margin: 15px;
    }

    .playerZone:nth-child(odd) .playerTotalScore {
        margin-top: 1vh;
    }

    .playerZone:nth-child(even) .playerTotalScore {
        margin-bottom: 3vh;
    }

    .playerZone:nth-child(odd) .playerCurrentScoreBox {
        margin-top: 10vh;
    }

    .playerZone:nth-child(even) .playerCurrentScoreBox {
        margin-bottom: 10vh;
    }

    .playerZone:nth-child(odd) .playerName {
        margin-top: 5vh;
    }

    .playerZone:nth-child(even) .playerName {
        margin-bottom: 5vh;
    }

    .playerCurrentScoreTitle {
        font-size: 5vw;
    }

    .playerCurrentScore {
        font-size: 5vw;
    }

        /* Button */

    .newGame {
        top: calc(50% - 3.5vw);
        left: 5vw;
        font-size: 3.5vw;

    }
    .hold {
        top: calc(50% - 3.5vw);
        right: 5vw;
        font-size: 5vw;
    }

        .rules {
        display: none;
    }

}


