@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

/* My CSS JS GAME */

/* Font families for the project */
* {
    font-family: 'Lato',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
}

/* Body of the page */
html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-size: 1.2rem;
    font-weight: 400px;
    background-color: #fff;
    color: #111;
    opacity: 0.8;
}

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/* Player Part */

.playerZone {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    width: 50%;
    height: 100%;
}

.playerZone.active {
    background-color: #e6e3e3;
}

.playerZone.active .playerName {
    font-weight: 300px;
}

.playerZone.active .playerName::after {
    content: '•';
    position: absolute;
    margin-left: 10px;
    color: #850514;
    animation-duration: .5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    transition: opacity 0.2s;
}

.playerTotalScore {
    margin: 0;
    margin-top: 10vh;
    padding: 0;
    font-size: 6vw;
    font-weight: 100;
    color: #850514;
    margin-bottom: auto;
}

.playerTotalScore::after {
    content: '/100';
    font-size: 3vw;
    color: #777;
}

/* Player Box */
.playerActuelScoreBox {
    display: block;
    margin: 0;
    margin-top: 5vh;
    margin-bottom: 20vh;
    padding: 1.5vh;
    min-width: 15%;
    background-color: #850514;
    text-align: center;
    /* vertical-align: middle; */
    border-radius: 8px;
    opacity: 0.9;
}

.playerActuelScoreTitle {
    margin: 0;
    padding: 0;
    font-size: 1.3vw;
    font-weight: 300px;
    color: #242222;
    text-transform: uppercase;
}

.playerActuelScore {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
    font-weight: 300px;
    color: #fff;
}

/* Winning part */


/* New Game & Hold Part */
.newgame {
    top: 5vw;
    font-size: 3.5vw;
    font-size: 1.5vw;
    color: #111;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    background-color: #ffffff99;
    padding: 1vw;
    border-radius: 8px;
}

.newGame::before {
    font-weight: 900;
    margin-right: 0.5rem;
    color: #AE0115;
    opacity: 0.8;
    content: '\f522';
}

.hold,
.newGame,
.hold:focus,
.newGame:focus,
.hold:active,
.newGame:active,
.hold:visited,
.newGame:visited {
    color: #111;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    background-color: #ffffff99;
    padding: 1vw;
    border-radius: 8px;
}

.newGame {
    top: 4.5vh;
    font-size: 1.5vw;
}

.hold {
    top: 22vh;
    font-size: 2vw;
}

.hold:hover,
.newGame:hover,
.rules:hover {
    color: #777;
    background-color: #fff
}

.hold::before,
.newGame::before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-right: 0.5rem;
    color: #AE0115;
    opacity: 0.8;
    content: '\f055';
}

/* Roll Dice*/
/* image/DiceNumber1.png */

/* Overlay */
.overlay {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    backdrop-filter: blur 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Modal */
.modal {
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 1vw;
    width: 60vw;
    height: 25 vw;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(174, 26, 26);
    border-radius: 10px;
}

.closeModal {
    font-size: 3.5vw;
    font-size: 1.5vw;
    color: #111;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffffff99;
    padding: 1vw;
    border-radius: 8px;

}

/* Animation */
@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media Queries */
/* Phone version */
@media screen and (max-width: 576px) {
    .container {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .playerZone {
        padding: 25px;
        width: 100%;
        height: 50%;
    }

    .playerTotalScore {
        margin: 0;
        font-size: 12vw;
    }

    .playerName {
        font-size: 5vw;
        margin: 15;
    }

    .playerZone:nth-child(odd) .playerTotalScore {
        margin-top: 5vh;
    }

    .playerZone:nth-child(even) .playerTotalScore {
        margin-bottom: 5vh;
    }

    .playerZone:nth-child(odd) .playerCurrentScoreBox {
        margin-top: 10vh;
    }

    .playerZone:nth-child(even) .playerCurrentScoreBox {
        margin-bottom: 10vh;
    }

    .playerZone:nth-child(odd) .playerName {
        margin-top: 5vh;
    }

    .playerZone:nth-child(even) .playerName {
        margin-bottom: 5vh;
    }

    .playerCurrentScoreTitle {
        font-size: 2vw;
    }

    .playerCurrentScore {
        font-size: 6vw;
    }

    .newGame {
        top: calc(50% - 3.5vw);
        left: 5vw;
        font-size: 3.5vw;

    }

    .hold {
        top: calc(50% - 3.5vw);
        right: 5vw;
        font-size: 5vw;
    }

}